{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

        <div class="gallery-page">
            {{ content }}
        </div>
    
    
    {% include 'incl/footer.twig' %}
</body>

</html>