$b-100: #000;
$w-100: #fff;
$gray-100: #f8f9fa;

$black-25: rgba(0, 0, 0, 0.25);
$pale-lavender: #cab1f8;
$light-violet: #bc9bf9;
$blue-violet: #803ee0;
$light-gray: #9b9b9b;


$primary-background-color: #e2d3f8 !default;
$secondary-background-color: #f3e9fe !default;
$primary-border-color: #cab1f8 !default;
$primary-font-color: #2c3e50 !default;
$primary-button-color: #803ee0 !default;
$secondary-button-color: #a46efb !default;
$primary-hover-color: #a46efb !default;
$primary-button-font-color: $w-100 !default;
$primary-accent-color: #3d3df5 !default;
$secondary-font-color: $w-100 !default;
