
$w-100: #fff;
$pale-lavender: #cab1f8;
$blue-violet: #803ee0;
$primary-font-color: #2c3e50 !default;
$primary-button-font-color: $w-100 !default;
$primary-accent-color: #3d3df5 !default;

$nav-border: #d9d9e3 !default;
$footer-border: #c4c4d1 !default;
$bg-nav-button: #a436db !default;
$bg-nav-button-hover: #8e2db6 !default;
$bg-nav-button-active: #751f9c !default;
$bg-footer-and-nav: #f4f4f9 !default;
$text-nav-button: #fff !default;
$bg-content: #fff !default;
$border-image-card: #afafaf !default;
$border-heading-text: #000 !default;
$shadow-heading-text: rgba(0, 0, 0, 0.5) !default;
$color-link: #1A5CCB !default;
$color-link-hover: #003E99 !default;
