@use 'utils/styles' as *;



.about {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem;

  h3,
 p {
    width: 100%;
  }

  h3 {
    text-shadow: 3px 3px 5px  $shadow-heading-text;
    font-size: 5rem;

    @include TABLET_BP {
      font-size: 10rem;
    }
  }

  p {
    text-align: start;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    font-weight: 600;
    color: $color-link;
    transition: color 0.2s ease-in-out;
  }
 
  a:hover {
    color: $color-link-hover;
  }
}



@mixin heading-styles {
  font-family: 'Morganite', sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
  color: $primary-font-color;
}

