@use 'utils/styles' as *;

* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
}


.hidden {
  display: none !important;
}

html,
body {
  height: 100%;
  background-color: $bg-footer-and-nav;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 0;

  p:first-of-type {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: end;

    @include TABLET_BP {
      width: 400px;
      height: 400px;
    }
  
    @include LAPTOP_BP {
      width: 500px;
      height: 500px;
    }
  }

  h2 {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: 0;
    text-shadow: 3px 3px 5px $shadow-heading-text;
    @include TABLET_BP {
      width: 400px;
      height: 398px;
      justify-content: start;
      font-size: 8rem;
      padding: 0 1rem;
    }
  
    @include LAPTOP_BP {
      width: 500px;
      height: 498px;
      margin-top: 1px;
      border: 1px solid $border-heading-text;
      border-left: 0;
      font-size: 10rem;
    }

  }

  p:not(:first-of-type) {
    min-width: 100%;
    height: calc(100% - (500px + 4rem));
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    overflow: hidden;
  }



}

.main * img {
  width: 300px;
  height: 300px;
  object-fit: cover;

  @include TABLET_BP {
    width: 400px;
    height: 400px;
  }

  @include LAPTOP_BP {
    width: 500px;
    height: 500px;
  }
}

@mixin heading-styles {
  font-family: 'Morganite', sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
  color: $primary-font-color;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-styles;
  font-size: 3rem;
}

p {
  font-family: 'Times New Roman', Times, serif;
  color: $primary-font-color;
  font-size: 1rem;
}


a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}
