@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-BookItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Morganite';
  src: url('../../shared/Morganite/Morganite-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
