$fa-font-path: '../../shared/fontawesome/webfonts';
@use '../../shared/fontawesome/scss/fontawesome';
@use '../../shared/fontawesome/scss/brands';
@use '../../shared/fontawesome/scss/solid';
@use '../../shared/fontawesome/scss/regular';
@use '../../node_modules/normalize.css/normalize.css';

@use 'utils/styles' as * with (
  $bg-footer-and-nav: #1C1C1E,
  $text-nav-button: #F4F4F9,
  $bg-content: #29292B,
  $nav-border: #3A3A3D,
  $footer-border: #4C4C50,
  $border-image-card: #4C4C4C,
  $border-heading-text: #fff,
  $shadow-heading-text: rgba(255, 255, 255, 0.5),
  $primary-font-color: #d4d4e3,
  $color-link: #4E9DFF,
  $color-link-hover: #1A6DCB,
  $primary-accent-color: #00e053
);

@use 'nav';
@use 'content';
@use 'footer';
@use 'technology';
@use 'technologies';
@use 'analys';
@use 'gallery';
@use 'about';
