@use 'utils/styles' as *;

.technology-page {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  overflow: hidden;
  @include TABLET_BP {
    grid-template-columns: 200px 1fr;
    gap: 1em;
  }
}

.sidebar {
  display: none;

  @include TABLET_BP {
    display: flex;
    background-color: $primary-background-color;
    padding: 1em;
    border-right: 1px solid $primary-border-color;
  }
}

.technology-link-nav > ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}

.icon-list-item {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 0.25rem;
  color: $primary-font-color;
  transition: transform 0.2s ease-in-out;
  
  &:hover {
    transform: scale(1.2);
  }
}

.technology-content {
  width: 100%;
  padding: 1rem;
  overflow-y: scroll;
}

pre {
  width: 100%;
  padding: 1rem;
  max-width: 100%;
  color: $primary-accent-color;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
}


.technology-content {
  scrollbar-width: auto;
  scrollbar-color: $primary-background-color $primary-border-color;

  /* Webkit-based browsers */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $primary-border-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-background-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primary-button-color;
  }
}
