@use 'utils/styles' as *;

.landingpage {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(auto, 3rem) auto;
  gap: 2em 1em;
  padding: 1em;

  @include TABLET_BP {
    grid-template-columns: repeat(3, 1fr);
  }
}

.landingpage h1 {
  grid-column: span 1;
  justify-self: center;
  text-align: center;

  @include TABLET_BP {
    grid-column: span 3;
  }
}

.box {
  grid-column: span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: $pale-lavender;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &.wide {
    grid-column: span 1;

    @include TABLET_BP {
      grid-column: span 2;
    }
  }

  &.full {
    grid-column: span 1;

    @include TABLET_BP {
      grid-column: span 3;
    }
  }
}

.box > a {
  text-decoration: none;
  min-width: 10rem;
  text-align: center;
  color: $w-100;
  padding: 1rem;
  background-color: $blue-violet;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}
