<footer class="footer">
    <div class="row">

        <p>
            Copyright &copy; 2024 Rawa Aref
        </p>
        <nav class="social-navigation">
            <ul class="social-links">
                <li>
                    <a href="https://github.com/Rawa08Study" target="_blank">
                        <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                        BTH-Study
                    </a>

                </li>
                <li>
                    <a href="https://github.com/Rawa08" target="_blank">
                        <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                        Pro
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/rawaaref" target="_blank">
                        <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
